body{
    background: rgb(64, 64, 89);
    margin: 0;
}

html{
    color: white;
    text-align: center;
}

h1{
    color: #fec025;
    text-align: center;
    font-size: 50px;
}

h2{ 
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
}

h3{
    font-size: 30px;
}

p{
    color: wheat;
    font-size: 20px;
    margin-left: 27%;
    margin-right: 27%;
}

nav{
    background: rgb(53, 53, 58);
    margin: 0;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50px;
}
.header-link-list-element{
    display: inline-block;
    margin-right: 20px;
    font-size: 40px;
}


.modern-logo{
    width: 20%;
}

.text-align-left{
    text-align: left;
}

.header-links{
    padding: 50px;
    display: block;
    text-align: center;
    list-style-type: none;
}

a:active{
    color: rgb(216, 208, 224);
}

.header-link{
    color: rgb(235, 228, 242);
}

.footer-links{
    background: white;
    height: 150px;
    margin-bottom: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.footer-link{
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.footer-link-list-element{
    display: inline-block;
    margin-right: 20px;
    font-size: 40px;
}

.inline-block{
    display: inline-block;
}

.themes-list{
    list-style-type: none;
}